#Gundown {
height: 100px;
width:300px;
background-color: green;
 border: solid black;
 margin-bottom: -20px;
  font-size: 70px;
  color: blue;
}
#slogan {
height: 50px;
  width: 300px;
  background-color: green;
  border:solid black;
  color: ;
  font-size: 40px;
}
img {
margin-left: 306px;
  margin-top: -900px;
  margin-bottom: 15px;
  border: solid black;
}
