#Gundown {
height: 100px;
width:300px;
background-color: green;
 border: solid black;
  margin-left: 350px;
  margin-bottom: 160px;
  font-size: 70px;
  color: blue;
 
}
#slogan {
height: 50px;
  width: 300px;
  background-color: green;
  border:solid black;
  border-radius: 10%;
  color: blue;
  font-size: 40px;
  margin-left: 350px;

}
img {
margin-left: 165px;
margin-top: -420px;
  margin-bottom: 60px;
  
  border: solid black; 
}
#color {
background-color: #e9e9e9;
}
