#starz {
width: 150px;
margin-top: 190px;
  margin-left: 95px;
  position: absolute;
  display: none;
  
}
#bugger {
  width: 300px;
  position: absolute;
  margin-left: 200px;
  margin-top: 170px;
  display: none;
}
#rhino {
position: absolute;
  display: none;
  width: 80px;
  margin-left: 590px;
  margin-top: 180px;
}
/* Below are images for the characters to be displayed again */
#starz2 {
position: absolute;
display: none;
width: 150px;
  margin-top: 190px;
  margin-left: 180px;
}
#bugger2 {
position: absolute;
  display: none;
  
}
#play {
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;
}
