#Gundown {
height: 100px;
width:300px;
background-color: green;
 border: solid black;
 margin-bottom: -20px;
  font-size: 70px;
  color: blue;
}
#slogan {
height: 50px;
  width: 300px;
  background-color: green;
  border:solid black;
  border-radius: 10%;
  color: blue;
  font-size: 40px;
}
img {
margin-left: 302px;
margin-top: -200px;
  border: solid black;
}
#color {
background-color: #e9e9e9;
}
