#Gundown {
height: 100px;
width:300px;
background-color: green;
 border: solid black;
  font-size: 70px;
  color: blue;
}
#slogan {
height: 50px;
  width: 300px;
  background-color: green;
  border:solid black;
  color: ;
  font-size: 40px;
}
img {
margin-left: 320px;
  margin-top: -900px;
  margin-bottom: 10px;
}
